{% extends "base.html" %}

{% block content %}
    {% if errors %}
        <p>Errors:</p>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/" method="post">
        <div class="field">
            <label for="player_name">Nickname</label>
            <input type="text" name="player_name" id="player_name" required>
        </div>

        <div class="field">
            <label for="use_doubles">Use double colors?</label>
            <input type="radio" name="use_doubles" value="yes">Yes
            <input type="radio" name="use_doubles" value="no" checked>No
        </div>

        <div class="field">
            <label for="amount_colors">Amount of colors</label>
            <input type="number" name="amount_colors" id="amount_colors" min="6" max="10" value="6" required>
        </div>

        <div class="field">
            <label for="amount_positions">Amount of positions</label>
            <input type="number" name="amount_positions" id="amount_positions" min="4" max="10" value="4" required>
        </div>

        <div class="field">
            <label for="use_cheats">Use cheats?</label>
            <input type="radio" name="use_cheats" value="yes">Yes
            <input type="radio" name="use_cheats" value="no" checked>No
        </div>

        <button type="submit">Start game</button>
    </form>
{% endblock %}
